html {
  height: 100%;
}

body {
  font-family: Courier New, monospace;
  background-image: url("background.png");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: vertical;
}

#terminal {
  border-radius: 7px;
  border-width: 2px;
  border-color: #e76026;
  border-style: solid;
  background-color: #000000;
  opacity: 0.65;
  margin-bottom: 14px;
  flex-grow: 1;
  color: white;
  padding: 5px;
  display: inline-flex;
}

.options {
  display: flex;
  justify-content: flex-start;
  display: none;
}

#project_options {

}

#caret {
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

#caret::after {
  content: "";
  width: 0.4rem;
  height: 1rem;
  background: #ffffff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
