html {
  height: 100%;
}

pre {
  white-space: pre-wrap;
}

body {
  font-family: Source Code Pro, monospace;
  font-weight: bold;
  font-size: 16px;
  background-image: url("background.png");
  background-size: cover;
  height: 100%;
  display: flex;
}

#terminal {
  border-radius: 7px;
  border-width: 2px;
  border-color: #e76026;
  border-style: solid;
  background-color: rgba(0,0,0,0.65);
  margin-bottom: 14px;
  flex-grow: 1;
  color: #d9d5de;
  padding: 5px;
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-color: #d9d5de rgba(0, 0, 0, 0.0);
}

::webkit-scrollbar-button { 
  display: none;
}

.options {
  display: flex;
  justify-content: flex-start;
  display: none;
}

.options button {
  border: none;
  background: none;
  font-weight: bold;
  font-family: Source Code Pro, monospace;
  font-size: 16px;
  color: orange;
}

.options button:focus {
  color: blue;
  background: white;
}

.options button:focus-visible {
  outline: none;
}

#caret {
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

#caret::after {
  content: "";
  width: 0.4rem;
  height: 1rem;
  background: #ffffff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
